ion-content.ios.hydrated {
    .bg-class {
        color: #ffffff9e !important;
        --background: linear-gradient(#4384dc, #62bffb) !important;
        margin: 0px 0px !important;
        border-radius: 30px 30px 0px 0px;
    }

    ion-card {
        ion-card-content.ios.card-content-ios.hydrated {
            padding-bottom: 0px !important;
            .bottom-text-class {
                margin: 8px 0px 0px 0px !important;
            }
        }
    }
}

ion-card.bg-class.md.hydrated {
    margin: 0px 0px !important;

    ion-card-content.md.card-content-md.hydrated {
        // padding-bottom: 9px !important;
        // padding-bottom: 5px !important;
    }
}

ion-content.md.hydrated {
    bottom: -1% !important;
}

ion-button.getStarted-btn.ion-color.ion-color-new.md.button.button-block.button-solid.ion-activatable.ion-focusable.hydrated {
    height: 50px !important;
    font-size: 18px !important;
    margin: 0px 0px 18px 0px !important;
}

.bg-class {
    color: #ffffff9e !important;
    --background: linear-gradient(#4384dc, #62bffb) !important;
    margin: 0px !important;
    border-radius: 30px 30px 0px 0px;
}

.welcome-text {
    text-align: center !important;
    // margin-top: -20px;
    margin-bottom: 20px;
}

.card-wel-text {
    text-align: center !important;
    font-size: 16px !important;
    color: #ffffff;
    padding: 18px 10px !important;
}

.card-wel-sm-text {
    text-align: center !important;
    font-size: 14px !important;
    color: #ffffffc7;
    padding: 0px 5px 18px 5px;
}

.button-class {
    border-radius: 30px !important;
    background: #ffffff !important;
    padding: 25px !important;
    color: #4384dc !important;
}

.getStarted-btn {
    --border-radius: 25px;
    text-align: center !important;
    text-transform: capitalize !important;
}

.bottom-text-class {
    color: #ffffffe3 !important;
    margin: 8px 0px !important;
    text-align: center !important;
}

.bottom-text-class p {
    font-size: 13px !important;
    // margin-bottom: 20px !important;
}
