<ion-content [ngClass]="{contentClass: !isAllUser}">
    <ion-list lines="none" class="chatListClass" *ngIf="isAllUser else elseBlock">
        <ion-item class="chatListItemClass" *ngFor="let user of chatGroupFriendList.sort(sortChatList)">
            <ion-avatar slot="start" *ngIf="user.isGroup else dpElseBlock" (click)="showProfileCardPopOver($event, user)">
                <img *ngIf="user?.photoURL === 'null' || user?.photoURL === null || user?.photoURL === undefined else imgElseBlock" src="../../../assets/icon/group_logo.png">
                <ng-template #imgElseBlock>
                    <img [src]="user.photoURL">
                </ng-template>
            </ion-avatar>

            <ng-template #dpElseBlock>
                <ion-avatar slot="start" (click)="showProfileCardPopOver($event, user)">
                    <img *ngIf="user?.photoURL === 'null' || user?.photoURL === null || user?.photoURL === undefined else imgElseBlock" src="../../../assets/icon/user_logo.png">
                    <ng-template #imgElseBlock>
                        <img [src]="user.photoURL">
                    </ng-template>
                </ion-avatar>
            </ng-template>
            <ion-label class="msgLabel" (click)="chatClick($event, user)">
                <h2>{{user.displayName}}</h2>
                <p *ngIf="!user?.isImage">
                    <span *ngIf="user?.isDummy === false && user?.senderId !== getCurrentUser.uid && user?.isGroup === true">{{user.senderName}}: </span>
                    {{user.lastMessage}}
                </p>
                <p *ngIf="user?.isImage">
                    <ion-icon name="image" color="medium"></ion-icon>
                    Photo
                </p>
                <span class="dateTimeClass">{{user.lastMessageAt | datetransform}}</span>
            </ion-label>
        </ion-item>
    </ion-list>

    <ng-template #elseBlock>
        <ion-grid *ngIf="!isAllUser" class="noUserGridClass">
            <ion-row class="noUserRowClass">
                <div color="medium">
                    <ion-icon name="chatbubbles" color="medium"></ion-icon>
                    <h4>No Chats Found</h4>
                    <p>Looks like there are no chats available, Please click below + icon to Start New Chat with friends (or) create new group and enjoy!!!</p>
                </div>
            </ion-row>
        </ion-grid>
    </ng-template>
</ion-content>