ion-content {
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

ion-content.md.hydrated.contentClass {
    --offset-bottom: -25% !important;
}

ion-content.ios.hydrated.contentClass {
    --offset-bottom: -25% !important;
}

span.dateTimeClass {
    padding: 3px 5px !important;
    font-size: 10px !important;
    float: right !important;
    margin: -15% 0px 0px 0px !important;
}

ion-item.chatListItemClass.item.md.in-list.ion-focusable.hydrated.item-label:last-child {
    border-bottom: none !important;
}

ion-item.chatListItemClass.item.md.in-list.ion-focusable.hydrated.item-label,
ion-item.chatListItemClass.item.ios.in-list.ion-focusable.hydrated.item-label {
    margin-right: -12px !important;
    margin-left: 0px !important;
    border-bottom: 1px solid #dddddd !important;
}

ion-label.msgLabel.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated,
ion-label.msgLabel.sc-ion-label-ios-h.sc-ion-label-ios-s.ios.hydrated {
    h2, p {
        overflow: hidden;
        text-overflow: ellipsis !important;
        width: 75%;
    }
}