<ion-content class="ion-padding">
    <img class="logo-class" src="./../../../assets/icon/funChat_Logo.png" />
    <h2 class="title-class">Forgot Password</h2>
    <p class="small-text-class">We just need your registered email address to send you password reset link</p>

    <form [formGroup]="credentialForm">
        <ion-item>
            <ion-input placeholder="Email *" formControlName="email" clearInput="true"></ion-input>
        </ion-item>

        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">* Email is required</span>
            <span *ngIf="email.errors?.email">* Email is Invalid</span>
        </div>
    </form>

    <ion-button class="ion-padding-2" style="margin-top: 15px;" (click)="forgotClick()" expand="full" color="secondary">Get Link</ion-button>
    <p class="small-text-class">Back to ? <span (click)="signInClick()">Sign In</span></p>
    <p class="small-text-class" style="margin: 25px 0px;">Or</p>
    <p class="small-text-class">Don't have an account ? <span (click)="signUpClick()">Sign Up</span></p>
</ion-content>