ion-content {
    --offset-top: 0px !important;
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

ion-content::part(background) {
    height: 100% !important;
}

ion-title {
    padding-inline-start: 18% !important;
    padding-inline-end: 0 !important;
    text-align: left !important;
}

.header-title-class {
    margin-top: 5px !important;
}

.ion-text-left {
    position: absolute;
    top: 25px !important;
    left: 18% !important;
    font-size: 10px !important;
    padding: 3px 0px !important;
    font-weight: normal !important;
}

.ion-card-class {
    margin: 25px 0px;
    position: relative;
    padding-top: 80px;

    .img-wrapper {
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translateX(-50%);

        img {
            border-radius: 50%;
            height: 100px !important;
            width: 100px !important;
        }

        ion-button {
            --padding-start: 0;
            --padding-end: 0;
            --padding-bottom: 0;
            --padding-top: 0;

            --border-radius: 50%;
            height: 30px;
            width: 30px;
            position: absolute;
            right: 0%;
            bottom: 0px;
            ion-icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    .content-wrapper {
        text-align: center;
    }
}

