.ion-card-class {
    // margin: 25px 0px;
    // position: relative;
    // padding-top: 80px;
    margin: 20% 0px !important;
    position: relative;
    padding-top: 25% !important;

    .img-wrapper {
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translateX(-50%);

        img {
            border-radius: 50%;
            height: 100px !important;
            width: 100px !important;
        }

        ion-button {
            --padding-start: 0;
            --padding-end: 0;
            --padding-bottom: 0;
            --padding-top: 0;

            --border-radius: 50%;
            height: 30px;
            width: 30px;
            position: absolute;
            right: 0%;
            bottom: 0px;
            ion-icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    .content-wrapper {
        text-align: center;
    }
}

ion-title.ion-text-center.md.title-default.hydrated {
    // margin-left: -21% !important;
    margin-left: -25% !important;
}

ion-card {
    margin-top: 3% !important;
    margin-bottom: 0px !important;
    padding: 5px 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    border-bottom: 1px solid #9e9e9e59 !important;
    border-top: 1px solid #9e9e9e59 !important;
    h5 {
        font-size: 14px !important;
        margin: 10px 0px 5px 0px !important;
        padding: 10px 20px !important;
    }
}

.membersListClass {
    margin: 0px -5% !important;
    .newMemberClass:first-child {
        border-bottom: 1px solid #9e9e9e4d !important;
    }

    .newMemberClass {
        ion-avatar {
            background: linear-gradient(#4384dc, #62bffb) !important;
            color: white !important;
            padding: 8px !important;
            font-size: 22px !important;
        }

        ion-avatar.ios.hydrated {
            padding: 6px !important;
        }
    }
}

.smallGroupMembersTextClass {
    margin: 10px 0px !important;
    
    small {
        font-weight: bold !important;
    }
    
    .commonSmallClass {
        float: right !important;
    }

    ion-icon {
        float: right !important;
        background: -webkit-linear-gradient(#4384dc, #62bffb) !important;
        // -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        font-size: 18px;
    }
}

ion-card:last-child {
    color: #e74359 !important;
    margin-bottom: 10% !important;
    ion-icon {
        margin: 10px 10px !important;
        font-size: 24px !important;
    }
    h5 {
        margin: 10px 0px 5px 0px !important;
        padding: 3px 10px !important;
        font-size: 16px !important;
    }
}