<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="backClick()">
                <ion-icon class="icon-color-class" name="chevron-back-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme fullscreen [scrollEvents]="true">
    <div class="ion-card-class">
        <div class="img-wrapper">
            <img [src]="profileImage" />
            <ion-button class="new-background-color" (click)="cameraClick()">
                <ion-icon slot="icon-only" name="camera-outline" color="light"></ion-icon>
            </ion-button>
        </div>

        <div class="content-wrapper">
            <h3>{{getCurrentUser?.displayName}}</h3>
            <ion-text color="medium">
                <p>{{getCurrentUser?.aboutStatus}}</p>
            </ion-text>
        </div>
    </div>

    <ion-card *ngIf="getFriendsList.length > 0">
        <div class="smallGroupMembersTextClass">
            <small slot="start">Friends</small>
            <small slot="end" class="commonSmallClass">{{getFriendsList.length}}</small>
        </div>

        <ion-list lines="none" class="membersListClass">
            <ion-item class="chatListItemClass" *ngFor="let user of getFriendsList">
                <ion-avatar slot="start" (click)="showProfileCardPopOver(user)">
                    <img *ngIf="user?.photoURL === 'null' || user?.photoURL === null || user?.photoURL === undefined else imgElseBlock" src="../../../assets/icon/user_logo.png">
                    <ng-template #imgElseBlock>
                        <img [src]="user?.photoURL">
                    </ng-template>
                </ion-avatar>
                <ion-label (click)="chatClick(user)">
                    <h2>{{user?.displayName}}</h2>
                    <p>{{user?.aboutStatus}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card *ngIf="getGroupsList.length > 0">
        <div class="smallGroupMembersTextClass">
            <small slot="start">Groups</small>
            <small slot="end" class="commonSmallClass">{{getGroupsList.length}}</small>
        </div>

        <ion-list lines="none" class="membersListClass">
            <ion-item class="chatListItemClass" *ngFor="let user of getGroupsList">
                <ion-avatar slot="start" (click)="showProfileCardPopOver(user)">
                    <img *ngIf="user?.photoURL === 'null' || user?.photoURL === null || user?.photoURL === undefined else imgElseBlock" src="../../../assets/icon/user_logo.png">
                    <ng-template #imgElseBlock>
                        <img [src]="user?.photoURL">
                    </ng-template>
                </ion-avatar>
                <ion-label (click)="commonGroupChatClick(user)">
                    <h2>{{user?.displayName}}</h2>
                    <p>{{user?.aboutStatus}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card (click)="signOutClick()">
        <div style="display: inline-flex !important;">
            <ion-icon name="log-out-outline"></ion-icon>
            <h5>Sign Out</h5>
        </div>
    </ion-card>
</ion-content>