ion-content {
    --offset-top: 0px !important;
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

ion-content.md.hydrated.contentClass {
    --offset-bottom: -15% !important;
}

ion-content.ios.hydrated.contentClass {
    --offset-bottom: -15% !important;
}

ion-content::part(background) {
    height: 100% !important;
}

ion-title {
    padding-inline-start: 18% !important;
    padding-inline-end: 0 !important;
    text-align: left !important;
    padding-left: 0px !important;
}

.header-title-class {
    // margin-top: 5px !important;
    margin-top: 10px !important;
}

.ion-text-left {
    position: absolute;
    top: 30px !important;
    left: 0% !important;
    font-size: 10px !important;
    padding: 3px 0px !important;
    font-weight: normal !important;
}

ion-header.ios.header-ios.header-collapse-none.hydrated {
    height: 76px !important;
    ion-toolbar {
        height: 76px !important;
    }
}

ion-toolbar.new-background-color.toolbar-title-default.ios.in-toolbar.hydrated {
    ion-title {
        padding-left: 16% !important;
        .ion-text-left {
            left: 16% !important;
        }
    }
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px !important;
}
