<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="backClick()">
                <ion-icon class="icon-color-class" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <h5 class="header-title-class">Select Contact</h5>
            <span class="ion-text-left">{{usersList?.length}} Contacts</span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="searchClick()">
                <ion-icon class="icon-color-class" name="search-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen [ngClass]="{contentClass: !isAllUser}">
    <ion-searchbar *ngIf="isShowSearch" [(ngModel)]="searchText" (ionClear)="searchClear($event.target.value)" (ionInput)="searchUser($event.target.value)" placeholder="Search User"></ion-searchbar>
    <ion-list lines="none" *ngIf="isAllUser else elseBlock">
        <ion-item (click)="newGroupChatClick()">
            <ion-avatar slot="start">
                <img src="../../../assets/icon/group_logo.png">
            </ion-avatar>
            <ion-label>
                New Group
            </ion-label>
        </ion-item>
        <ion-item *ngFor="let user of usersList" (click)="chatClick(user)">
            <ion-avatar slot="start">
                <img *ngIf="user?.photoURL === 'null' || user?.photoURL === null || user?.photoURL === undefined else imgElseBlock" src="../../../assets/icon/user_logo.png">
                <ng-template #imgElseBlock>
                    <img [src]="user?.photoURL">
                </ng-template>
            </ion-avatar>
            <ion-label>
                <h2>{{user?.displayName}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>

    <ng-template #elseBlock>
        <ion-grid *ngIf="!isAllUser" class="noUserGridClass">
            <ion-row class="noUserRowClass">
                <div color="medium">
                    <ion-icon name="person-outline" color="medium"></ion-icon>
                    <h4>No Users Found</h4>
                    <p>Looks like there are no users available at this moment, Please try later</p>
                </div>
            </ion-row>
        </ion-grid>
    </ng-template>
</ion-content>