<ion-content class="ion-padding">
    <img class="logo-class" src="./../../../assets/icon/funChat_Logo.png" />
    <h3 class="title-class">Sign Up Now</h3>
    <p class="small-text-class">Please fill the details and create account</p>

    <form [formGroup]="credentialForm">
        <ion-item>
            <ion-input placeholder="UserName *" formControlName="userName" clearInput="true"></ion-input>
        </ion-item>
        
        <div *ngIf="(userName.dirty || userName.touched) && userName.errors" class="errors">
            <span *ngIf="userName.errors?.required">* UserName is required</span>
            <span *ngIf="userName.errors?.minlength">* UserName needs to be 5 characters</span>
        </div>
        
        <ion-item>
            <ion-input placeholder="Email *" formControlName="email" clearInput="true"></ion-input>
        </ion-item>

        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">* Email is required</span>
            <span *ngIf="email.errors?.email">* Email is Invalid</span>
        </div>

        <ion-item>
            <ion-input placeholder="Password *" type="password" formControlName="password" clearInput="true">
            </ion-input>
        </ion-item>

        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
            <span *ngIf="password.errors?.required">* Password is required</span>
            <span *ngIf="password.errors?.minlength">* Password needs to be 6 characters</span>
        </div>
    </form>

    <ion-button class="ion-padding-2" style="margin-top: 15px;" (click)="signUpClick()" expand="full" color="secondary">Sign Up</ion-button>
    <p class="small-text-class">Already have an account ? <span (click)="signInClick()">Sign In</span></p>
    <p class="small-text-class" style="margin: 23px 0px;">Or Connect with</p>

    <div class="social-logo">
        <ion-icon class="fb-class" name="logo-facebook"></ion-icon>
        <ion-icon class="tw-class" name="logo-twitter"></ion-icon>
        <ion-icon class="gp-class" name="logo-google"></ion-icon>
    </div>
</ion-content>