<ion-header>
    <ion-toolbar class="new-background-color" *ngIf="!isShowSearch else searchElseBlock">
        <ion-title slot="start" class="title-class">FunChat</ion-title>
        <div slot="end">
            <img (click)="searchClick()" src="../../../assets/icon/search.png">
            <img (click)="showPopover($event)" class="more-icon" src="../../../assets/icon/more.png">
        </div>
    </ion-toolbar>
    <ng-template #searchElseBlock>
        <ion-toolbar class="new-background-color">
            <ion-searchbar class="my-search" [(ngModel)]="searchText" debounce="500" (ionInput)="searchChatUserList($event.target.value)" (ionClear)="searchClearClick($event.target.value)" (ionCancel)="searchCancelClick($event.target.value)" showCancelButton="always" placeholder="Search..."></ion-searchbar>
        </ion-toolbar>
    </ng-template>
</ion-header>

<ion-content>
    <ion-tabs color="primary" (ionTabsWillChange)="tabClicked($event)">
        <ion-tab-bar slot="top">
            <ion-tab-button tab="chatlist" [ngClass]="{active: selectedTab === 'chatlist'}">
                <ion-label class="text-class">Chats</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="calls" [ngClass]="{active: selectedTab === 'calls'}">
                <ion-label class="text-class">Calls</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="new-background-color" (click)="newUserListClick()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>