<ion-content fullscreen>

    <ion-card>
        <ion-card-content>
            <video id="my-video" muted="true" autoplay></video>
            <video id="other-video" autoplay></video>
        </ion-card-content>
    </ion-card>

    <!-- <ion-list>
        <ion-item (click)="chooseOtherUser()">
            <ion-label>{{getOtherUserName()}}</ion-label>
        </ion-item>
    </ion-list> -->

    <button block (click)="startCall()">Call</button>
    <button block (click)="stopCall()">Drop</button>

    <!-- <span>PeerId: {{peerId}}</span>
    <div style="width: 400px; height: 300px; border: 2px solid" id="remote-video">
    </div>

    <div>
        <input type="text" placeholder="Peer Id" [(ngModel)]='peerIdShare' />
        <button class="button" (click)="connectWithPeer()">Call Peer</button>
    </div> -->

    <!-- <video id="partner-video" height="auto" (click)="swapVideo('my-video')" autoplay playsinline
        [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}">
    </video>
    <video id="my-video" height="auto" (click)="swapVideo('partner-video')" autoplay playsinline
        [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}">
    </video> -->

    <!-- <ion-row nowrap>
        <ion-button (click)="init()">Login As: </ion-button>
        <ion-item>
            <ion-input type="text" [(ngModel)]="userId" placeholder="enter your nick name"></ion-input>
        </ion-item>
    </ion-row> -->

    <!-- <ion-row nowrap>
        <ion-button (click)="call()">Call To: </ion-button>
        <ion-item>
            <ion-input type="text" [(ngModel)]="partnerId" placeholder="your partner nick name"></ion-input>
        </ion-item>
    </ion-row> -->

    <!-- <ion-row nowrap>
        <ion-button (click)="endCall()">End Call</ion-button>
    </ion-row> -->
</ion-content>

<ion-footer *ngIf="chatService?.newCall">
    <ion-toolbar>
        <ion-icon name="call" class="ansClass"></ion-icon>
        <ion-icon name="call" class="canClass"></ion-icon>
    </ion-toolbar>
</ion-footer>