ion-content {
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.top-video {
    position: absolute;
    top: 5%;
    left: 5%;
    max-width: 50%;
    z-index: 2;
    border-radius: 10%;
}

.main-video {
    position: fixed;
    left: -82%;
    bottom: 0%;
    min-width: 100%;
    min-height: 100%;
}


.video {
    max-width: 100% !important;
}

video {
    max-width: 100% !important;
}


ion-footer {
    ion-toolbar {
        ion-icon {
            color: white;
            padding: 20px;
            border-radius: 50%;
            margin: 3% 14% 3% 15%;
        }

        .ansClass {
            background: #25D366;
        }

        .canClass {
            background: #FF0000;
        }
    }
}