<ion-header>
    <ion-toolbar class="new-background-color" *ngIf="!isShowSearch else searchElseBlock">
        <div slot="start">
            <ion-icon (click)="backClick()" class="backIcon" name="arrow-back"></ion-icon>
            <ng-container *ngIf="(chatUserData?.isGroup === false && (chatUserData?.photoURL === 'null' || chatUserData?.photoURL === null || chatUserData?.photoURL === undefined)) else imgElseBlock">
                <img class="profileImage" src="../../../assets/icon/user_logo.png">
            </ng-container>
            <ng-template #imgElseBlock>
                <ng-container *ngIf="(chatUserData?.isGroup === true && (chatUserData?.photoURL === 'null' || chatUserData?.photoURL === null || chatUserData?.photoURL === undefined)) else groupImgElseBlock">
                    <img class="profileImage" src="../../../assets/icon/group_logo.png">
                </ng-container>
            </ng-template>
            <ng-template #groupImgElseBlock>
                <img class="profileImage" [src]="chatUserData.photoURL">
            </ng-template>
        </div>
        <ion-title (click)="viewFriendGroupProfile()" slot="start" class="profileNameClass">{{chatUserData.displayName}}</ion-title>
        <div slot="end">
            <img class="more-icon" (click)="init()" *ngIf="!chatUserData.isGroup" src="../../../assets/icon/video.png">
            <img class="more-icon" *ngIf="!chatUserData.isGroup" src="../../../assets/icon/call.png">
            <img class="more-icon" *ngIf="chatUserData.isGroup" src="../../../assets/icon/add_call.png">
            <img class="more-icon" (click)="showPopover($event)" src="../../../assets/icon/more.png">
        </div>
    </ion-toolbar>

    <ng-template #searchElseBlock>
        <ion-toolbar class="new-background-color">
            <ion-searchbar class="my-search" [(ngModel)]="searchText" debounce="500" (ionInput)="searchMsgData($event.target.value)" (ionClear)="searchMsgClearClick($event.target.value)" (ionCancel)="searchMsgCancelClick($event.target.value)" showCancelButton="always" placeholder="Search..."></ion-searchbar>
        </ion-toolbar>
    </ng-template>
</ion-header>

<ion-content #content appScrollbarTheme fullscreen [scrollEvents]="true">
    <ion-grid>
        <ion-row *ngFor="let message of chatMessage" [ngClass]="{dummyRowClass: message.isDummy}">
            <p class="dummyMsgClass" *ngIf="message.isDummy && !message.isAdminMsg">{{message.dummyMsg}}</p>
            <p class="dummyMsgClass" *ngIf="message.isDummy && message.isAdminMsg && message.receiverUid === getCurrentUser.uid">{{message.dummyMsg}}</p>
            <ion-col *ngIf="!message.isDummy" size="9" class="message" [offset]="(message.uid === getCurrentUser.uid) ? 3 : 0" [ngClass]="{ 'my-message': (message.uid === getCurrentUser.uid), 'other-message': (message.uid !== getCurrentUser.uid) }">
                <b *ngIf="message.isGroup && (message.uid !== getCurrentUser.uid)">{{ message.userName }}</b>
                <br *ngIf="message.isGroup && (message.uid !== getCurrentUser.uid)"/>
                <span *ngIf="!message?.isImage">{{ message.content }}</span>
                <img *ngIf="message?.isImage" [src]="message.content">
                <span class="time ion-text-right">{{ message.createdAt | date: 'shortTime' }}</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar style="padding: 5px 5px !important;">
        <ion-textarea #myInput id="myInput" (keyup)="resizeTextArea()" rows="1" placeholder="Type a message" [(ngModel)]="newMessage" autoGrow="false" class="message-input" maxLength="1500">
            <div class="attachClass" (click)="cameraClick(chatUserData.isGroup)">
                <ion-icon name="camera" item-left></ion-icon>
            </div>
        </ion-textarea>
        <ion-buttons slot="end" class="msg-btn" (click)="sendMessage(chatUserData.isGroup, false, null)">
            <ion-button fill="clear" [disabled]="newMessage === ''">
                <ion-icon class="msg-btn-icon-class" name="send-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>