ion-content {
    --background: #f9f9f9 !important;
}

.headerClassHide {
    display: none !important;
}

ion-title {
    padding-inline-start: 18% !important;
    padding-inline-end: 0 !important;
    text-align: left !important;
    padding-left: 0px !important;
}

.header-title-class {
    margin-top: 10px !important;
}

.backIcon {
    padding: 15px 15px 0px 15px !important;
    font-size: 20px !important;
}

ion-title.ios.title-default.hydrated {
    .header-title-class {
        margin-top: 5px !important;
    }
}

ion-header.ios.header-ios.header-collapse-none.hydrated {
    height: 76px !important;
    ion-toolbar {
        height: 76px !important;
    }
}

ion-toolbar.new-background-color.toolbar-title-default.ios.in-toolbar.hydrated {
    ion-title {
        padding-left: 16% !important;
        .ion-text-left {
            left: 16% !important;
        }
    }

    .backIcon {
        padding: 10px 5px 5px 5px !important;
        font-size: 20px !important;
    }
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px !important;
}

.more-icon {
    padding: 0px 15px 0px 0px !important;
    font-size: 20px !important;
}

.ion-text-left {
    position: absolute;
    top: 30px !important;
    left: 0% !important;
    font-size: 10px !important;
    padding: 3px 0px !important;
    font-weight: normal !important;
}

.newDiv {
    height: 350px !important;
    ion-button {
        --padding-start: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-top: 0;
        --border-radius: 50%;
        height: 30px;
        width: 30px;
        float: right;
        margin: -16% 3% 0px 0px !important;
        ion-icon {
            width: 20px;
            height: 20px;
        }
    }

    .editclass {
        margin: -31% 3% 0px 0px !important;
    }

    .my-icon-class {
        .backIcon {
            padding-top: 30px !important;
            color: white !important;
        }
        .endClass {
            float: right !important;
        }
    }
    img {
        // height: 275px !important;
        // width: 100% !important;
        // margin: 0px auto !important;
        // margin-top: -20% !important;
        margin-top: -15% !important;
        max-width: 100% !important;
        height: 350px !important;
        width: 100% !important;
    }

    .profileName {
        font-size: 26px !important;
        color: white !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        padding: 0px 10px !important;
        margin: -22% 5% 0% 2% !important;
    }

    small {
        margin: -11% 0px 0px 15px !important;
        color: white !important;
    }
}

ion-card {
    margin-top: 3% !important;
    margin-bottom: 0px !important;
    padding: 5px 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    border-bottom: 1px solid #9e9e9e59 !important;
    border-top: 1px solid #9e9e9e59 !important;
    h5 {
        font-size: 14px !important;
        margin: 10px 0px 5px 0px !important;
        padding: 10px 20px !important;
    }
}

ion-card.lastCardClass {
    color: #e74359 !important;
    margin-bottom: 10% !important;
    ion-icon {
        margin: 10px 10px !important;
        font-size: 24px !important;
    }
    h5 {
        margin: 10px 0px 5px 0px !important;
        padding: 3px 10px !important;
        font-size: 16px !important;
    }
}

.membersListClass {
    margin: 0px -5% !important;
    .newMemberClass:first-child {
        border-bottom: 1px solid #9e9e9e4d !important;
    }

    .newMemberClass {
        ion-avatar {
            background: linear-gradient(#4384dc, #62bffb) !important;
            color: white !important;
            padding: 8px !important;
            font-size: 22px !important;
        }

        ion-avatar.ios.hydrated {
            padding: 6px !important;
        }
    }
}

.smallGroupMembersTextClass {
    margin: 10px 0px !important;

    small {
        font-weight: bold !important;
    }

    .commonSmallClass {
        float: right !important;
    }

    ion-icon {
        float: right !important;
        font-size: 18px;
    }
}

.aboutClass {
    // margin-top: 6% !important;
    // margin-top: 10% !important;
    margin-bottom: 0px !important;
}

span.adminClass {
    padding: 3px 5px !important;
    border: 1px solid #2dd36f!important;
    border-radius: 3px !important;
    font-size: 10px !important;
    color: #2dd36f!important;
    float: right !important;
    // margin-top: -11% !important;
    margin-top: -5% !important;
}
