<ion-header [ngClass]="{'headerClassHide': isHeaderVisible}" >
    <ion-toolbar class="new-background-color">
        <div slot="start">
            <ion-icon (click)="backClick()" class="backIcon" name="arrow-back"></ion-icon>
        </div>
        <ion-title>
            <h5 class="header-title-class">{{chatUserDetails?.displayName}}</h5>
            <span class="ion-text-left" *ngIf="chatUserDetails?.isGroup">Created by {{createBy}}, {{chatUserDetails?.createdAt| date: 'dd/MM/yyyy'}}</span>
            <span class="ion-text-left" *ngIf="!chatUserDetails?.isGroup">Joined At {{chatUserDetails?.createdAt | date: 'dd/MM/yyyy'}}</span>
        </ion-title>
        <div slot="end">
            <img class="more-icon" (click)="editClick(chatUserDetails)" src="../../../assets/icon/edit.png">
            <ion-icon *ngIf="isAdmin" class="more-icon" name="person-add" (click)="getMembersListPopupClick()"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme fullscreen [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div class="newDiv" [ngClass]="{'headerClassHide': !isHeaderVisible}">
        <div class="my-icon-class">
            <ion-icon (click)="backClick()" class="backIcon" name="arrow-back"></ion-icon>
            <ion-icon *ngIf="isAdmin" class="backIcon endClass" name="person-add" (click)="getMembersListPopupClick()"></ion-icon>
        </div>

        <ng-container *ngIf="(chatUserDetails?.isGroup === false && (chatUserDetails?.photoURL === 'null' || chatUserDetails?.photoURL === null || chatUserDetails?.photoURL === undefined)) else imgElseBlock">
            <img class="profileImage" src="../../../assets/icon/profile_user.png">
        </ng-container>

        <ng-template #imgElseBlock>
            <ng-container *ngIf="(chatUserDetails?.isGroup === true && (chatUserDetails?.photoURL === 'null' || chatUserDetails?.photoURL === null || chatUserDetails?.photoURL === undefined)) else groupImgElseBlock">
                <!-- <img class="profileImage" src="../../../assets/icon/profile_group.png"> -->
                <ion-avatar>
                    <img class="profileImage" src="../../../assets/icon/profile_group.png">
                </ion-avatar>
            </ng-container>
        </ng-template>

        <ng-template #groupImgElseBlock>
            <img class="profileImage" [src]="chatUserDetails?.photoURL">
            <!-- <ion-avatar class="profileImageAvatar">
                <img class="profileImage" [src]="chatUserDetails?.photoURL">
            </ion-avatar> -->
        </ng-template>

        <ion-button *ngIf="chatUserDetails?.isGroup" class="new-background-color cameraClass" (click)="cameraClick()">
            <ion-icon slot="icon-only" name="camera-outline" color="light"></ion-icon>
        </ion-button>

        <ion-button *ngIf="chatUserDetails?.isGroup" class="new-background-color editclass" (click)="editClick(chatUserDetails)">
            <ion-icon slot="icon-only" name="pencil" color="light"></ion-icon>
        </ion-button>

        <p class="profileName">{{chatUserDetails?.displayName}}</p>
        <small *ngIf="chatUserDetails?.isGroup">Created by {{createBy}}, {{chatUserDetails?.createdAt | date: 'dd/MM/yyyy'}}</small>
        <small *ngIf="!chatUserDetails?.isGroup">Joined At {{chatUserDetails?.createdAt | date: 'dd/MM/yyyy'}}</small>
    </div>

    <ion-card class="aboutClass">
        <small>About</small>
        <h5>{{chatUserDetails?.aboutStatus}}</h5>
    </ion-card>

    <ion-card *ngIf="(chatUserDetails?.isGroup === false && (commonGroupList.length > 0))">
        <div class="smallGroupMembersTextClass">
            <small slot="start">Groups in common</small>
            <small slot="end" class="commonSmallClass">{{commonGroupList.length}}</small>
        </div>
        <ion-list lines="none" *ngIf="commonGroupList.length > 0">
            <ion-item class="chatListItemClass" *ngFor="let commonGroup of commonGroupList">
                <ion-avatar slot="start" (click)="showProfileCardPopOver(commonGroup)">
                    <img *ngIf="commonGroup?.photoURL === 'null' || commonGroup?.photoURL === null || commonGroup?.photoURL === undefined else imgElseBlock" src="../../../assets/icon/user_logo.png">
                    <ng-template #imgElseBlock>
                        <img [src]="commonGroup?.photoURL">
                    </ng-template>
                </ion-avatar>
                <ion-label (click)="commonGroupChatClick(commonGroup)">
                    <h2>{{commonGroup?.displayName}}</h2>
                    <p>{{commonGroup?.aboutStatus}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
    
    <ion-card *ngIf="chatUserDetails?.isGroup">
        <small>Group Members</small>
        <div class="smallGroupMembersTextClass">
            <small *ngIf="getMembersList?.length === 1 else memElseBlock">{{getMembersList?.length}} Member</small>
            <ng-template #memElseBlock>
                <small>{{getMembersList?.length}} Members</small>
            </ng-template>
            <ion-icon slot="end" name="search-outline" (click)="searchMembersClick()" ></ion-icon>
        </div>

        <ion-searchbar *ngIf="isShowMemberSearch" [(ngModel)]="searchMembersText" (ionClear)="searchMemberClear($event.target.value)" (ionInput)="searchMembers($event.target.value)" placeholder="Search Member"></ion-searchbar>

        <ion-list lines="none" class="membersListClass">
            <ion-item class="newMemberClass" (click)="getMembersListPopupClick()" *ngIf="isAdmin">
                <ion-avatar slot="start">
                    <ion-icon name="person-add"></ion-icon>
                </ion-avatar>
                <ion-label>
                    Add Member
                </ion-label>
            </ion-item>
            <ion-item class="chatListItemClass" *ngFor="let user of getMembersList">
                <ion-avatar slot="start" (click)="showProfileCardPopOver(user)">
                    <img *ngIf="user?.photoURL === 'null' || user?.photoURL === null || user?.photoURL === undefined else imgElseBlock" src="../../../assets/icon/user_logo.png">
                    <ng-template #imgElseBlock>
                        <img [src]="user?.photoURL">
                    </ng-template>
                </ion-avatar>
                <ion-label (click)="chatClick(user)">
                    <h2 *ngIf="user?.uid === getCurrentUser?.uid else nameElseBlock">You</h2>
                    <ng-template #nameElseBlock>
                        <h2>{{user?.displayName}}</h2>
                    </ng-template>
                    <span class="adminClass" *ngIf="user?.isAdmin">Group Admin</span>
                    <p>{{user?.aboutStatus}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card *ngIf="chatUserDetails?.isGroup" class="lastCardClass" (click)="exitGroupClick()">
        <div style="display: inline-flex !important;">
            <ion-icon name="log-out-outline"></ion-icon>
            <h5>Exit Group</h5>
        </div>
    </ion-card>
</ion-content>
