ion-content {
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

ion-content.md.hydrated.contentClass {
    --offset-bottom: -25% !important;
}

ion-content.ios.hydrated.contentClass {
    --offset-bottom: -25% !important;
}