<!-- <ion-content>
    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
</ion-content> -->

<ion-content class="contentClass">
    <ion-grid class="noUserGridClass">
        <ion-row class="noUserRowClass">
            <div color="medium">
                <ion-icon name="warning" color="medium"></ion-icon>
                <h4>Will Connect You Shortly</h4>
                <p>Calling Option is in under progress will connect you shortly!!!</p>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>