/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.errors {
    font-size: small;
    color: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

@media only screen and (max-width: 384px) {
    .social-logo {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    // .logo-class {
    //     width: 100% !important;
    //     height: 100% !important;
    //     margin: 0px 25% !important;
    //     max-height: 150px;
    //     max-width: 50%;
    // }
}

.logo-class {
    margin: 10% 25% !important;
    max-width: 50%;
}

ion-item.ion-untouched.ion-pristine.ion-invalid.item.md.ion-focusable.hydrated.item-interactive.item-input.item-has-placeholder {
    margin: 10px 0px !important;
}

ion-button.ion-padding-2.ion-color.ion-color-secondary.md.button.button-full.button-solid.ion-activatable.ion-focusable.hydrated {
    height: 50px;
    font-size: 20px;
}

.title-class {
    text-align: center;
    font-weight: bold;
}

.small-text-class {
    text-align: center;
    color: #bec4c6 !important;
    font-size: 12px !important;
}

.small-text-class span {
    color: #62c2fe !important;
}

.small-text-class-bold {
    text-align: right;
    color: #bec4c6 !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

.social-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.fb-class {
    color: #3f51b5;
    font-size: 50px;
}

.tw-class {
    padding: 0px 15px;
    background: #62c2fe;
    height: 45px;
    border-radius: 50px;
    color: white;
    margin: 0px 10px;
}

.gp-class {
    background: #de4a36;
    padding: 0px 15px;
    height: 45px;
    border-radius: 50px;
    color: white;
}

.ion-padding-2 {
    text-transform: capitalize !important;
}

.new-background-color {
    --background: linear-gradient(#4384dc, #62bffb) !important;
    color: #fffffff0 !important;
}

.title-class {
    left: -30% !important;
}

.profile-img {
    width: 50% !important;
    height: 50% !important;
    margin: 25% !important;
}

.active {
    border-bottom: 2px solid #4384dc !important;
}

.text-class {
    font-size: 16px !important;
}

.icon-color-class {
    color: #fffffff0 !important;
}

ion-searchbar.my-search.sc-ion-searchbar-md-h.sc-ion-searchbar-md-s.md.searchbar-left-aligned.searchbar-should-show-cancel.hydrated {
    input.searchbar-input.sc-ion-searchbar-md {
        border-radius: 5px !important;
        box-shadow: none !important;
    }
}

// IOS Class Start

ion-header.ios.header-ios.header-collapse-none.hydrated {
    height: 76px !important;

    ion-toolbar.new-background-color.toolbar-title-default.ios.in-toolbar.hydrated {
        height: 76px !important;
        padding-top: 10% !important;
    }
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px !important;
}

ion-tab-bar.ios.hydrated {
    height: 57.25px !important;
}

ion-item.chatListItemClass.item.ios.in-list.ion-focusable.hydrated.item-label {
    height: 65.72px !important;
}

ion-item.item.ios.in-list.ion-focusable.hydrated.item-label {
    height: 55.98px !important;
}

.list-ios {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

ion-searchbar.my-search.sc-ion-searchbar-ios-h.sc-ion-searchbar-ios-s.ios.searchbar-left-aligned.searchbar-should-show-cancel.hydrated {
    background: white !important;
    padding: 0px 10px !important;
    margin: 5px 2px 8px 2px !important;
    height: 45px !important;
    border-radius: 5px !important;
    width: 98% !important;

    input.searchbar-input.sc-ion-searchbar-ios {
        --background: white !important;
    }

    button.searchbar-cancel-button.sc-ion-searchbar-ios {
        margin: 0px 5px !important;
    }
}

// IOS Class End

.noUserGridClass {
    height: 100% !important;

    .noUserRowClass {
        height: 100% !important;
        flex-direction: column !important;
        justify-content: center !important;
        text-align: center !important;

        ion-icon {
            zoom: 3.5;
        }

        p {
            line-height: 18px;
            font-size: 10px;
            padding: 0px 10px;
        }
    }
}

ion-popover.sc-ion-popover-md-h.sc-ion-popover-md-s.myPopOverClass.md.hydrated,
ion-popover.myPopOverClass.md.popover-desktop.popover-side-bottom.hydrated,
ion-popover.myPopOverClass.ios.popover-desktop.popover-side-bottom.hydrated {
    top: -38% !important;
}

ion-popover.sc-ion-popover-ios-h.sc-ion-popover-ios-s.myPopOverClass.ios.hydrated,
ion-popover.myPopOverClass.md.popover-desktop.popover-side-bottom.hydrated,
ion-popover.myPopOverClass.ios.popover-desktop.popover-side-bottom.hydrated {

    top: -38% !important;

    .popover-arrow.sc-ion-popover-ios {
        display: block !important;
        top: 243.527px !important;
        left: 241px !important;
    }

    .popover-arrow.sc-ion-popover-ios::after {
        left: 3px;
        top: 3px;
        border-radius: 3px;
        position: absolute;
        width: 14px;
        height: 14px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background: var(--background);
        content: "";
        z-index: 10;
    }

    .popover-content.sc-ion-popover-ios {
        top: 252.527px;
        transform-origin: left top;
        left: calc(71px - var(--ion-safe-area-right, 0px)) !important;
    }
}

ion-alert.sc-ion-alert-md-h.sc-ion-alert-md-s.my-custom-class.md.hydrated {
    .alert-wrapper.ion-overlay-wrapper.sc-ion-alert-md {
        margin: 0px 20px !important;
        border-radius: 15px !important;
    }
}

ion-popover.sc-ion-popover-md-h.sc-ion-popover-md-s.profile-card-class.md.hydrated,
ion-popover.sc-ion-popover-ios-h.sc-ion-popover-ios-s.profile-card-class.ios.hydrated,
ion-popover.profile-card-class.ios.popover-desktop.popover-side-bottom.hydrated,
ion-popover.profile-card-class.md.popover-desktop.popover-side-bottom.hydrated {
    --width: 250px !important;

    app-profilecard-popover.popover-viewport {
        --border: 3px solid black !important;

        ion-card {
            --border-radius: 0px !important;
        }

        ion-card.md.hydrated,
        ion-card.ios.hydrated {
            margin: 0px;

            .profile-card-img {
                width: 100% !important;
                height: 250px !important;
                max-width: 100% !important;
            }

            .profile-card-name {
                margin: 0px !important;
                position: absolute !important;
                color: white !important;
                background: #00000014 !important;
                padding: 10px 20px !important;
                // width: 250px !important;
                width: 100% !important;
            }

            .profile-card-icons,
            .profile-card-group-icons {
                display: flex !important;
                justify-content: space-around !important;
                font-size: 20px !important;
                color: #4384dc !important;
                margin: 10px 0px !important;
            }
        }
    }
}

// .popover-wrapper.ion-overlay-wrapper {
//     .popover-content {
//         ---background-color: red !important;
//         top: calc(25vh + var(--offset-y, 0px)) !important;
//         left: calc(13px + var(--offset-x, 0px)) !important;
//         transform-origin: left top !important;
//         display: flex !important;
//         justify-content: center !important;
//         align-items: center !important;

//         app-profilecard-popover.popover-viewport {
//             --border: 3px solid black !important;

//             ion-card {
//                 --border-radius: 0px !important;
//             }

//             ion-card.md.hydrated,
//             ion-card.ios.hydrated {
//                 margin: 0px;

//                 .profile-card-img {
//                     width: 100% !important;
//                     height: 250px !important;
//                     max-width: 100% !important;
//                 }

//                 .profile-card-name {
//                     margin: 0px !important;
//                     position: absolute !important;
//                     color: white !important;
//                     background: #00000014 !important;
//                     padding: 10px 20px !important;
//                     // width: 250px !important;
//                     width: 100% !important;
//                 }

//                 .profile-card-icons,
//                 .profile-card-group-icons {
//                     display: flex !important;
//                     justify-content: space-around !important;
//                     font-size: 20px !important;
//                     color: #4384dc !important;
//                     margin: 10px 0px !important;
//                 }
//             }
//         }


//     }


// }

// ion-popover.sc-ion-popover-md-h.sc-ion-popover-md-s.access-popover-class.md.hydrated,
// ion-popover.sc-ion-popover-ios-h.sc-ion-popover-ios-s.access-popover-class.ios.hydrated {
//     --width: 250px !important;

//     .popover-content.sc-ion-popover-md,
//     .popover-content.sc-ion-popover-ios {
//         // top: 203.67px !important;
//         // left: 13px !important;
//         border-radius: 10px !important;

//         ion-card {
//             border-radius: 0px !important;
//         }

//         ion-card.md.hydrated,
//         ion-card.ios.hydrated {
//             margin: 0px !important;

//             .profile-card-img {
//                 width: 100% !important;
//                 height: 250px !important;
//                 max-width: 100% !important;
//             }

//             .profile-card-name {
//                 margin: 0px !important;
//                 position: absolute !important;
//                 color: white !important;
//                 background: #00000014 !important;
//                 padding: 10px 20px !important;
//                 // width: 250px !important;
//                 width: 100% !important;
//             }

//             .profile-card-icons {
//                 display: inline-flex !important;

//                 ion-icon {
//                     padding: 10px 22px !important;
//                     font-size: 20px !important;
//                     color: #4384dc !important;
//                 }
//             }

//             .profile-card-group-icons {
//                 display: inline-flex !important;

//                 ion-icon {
//                     padding: 10px 53px !important;
//                     font-size: 20px !important;
//                     color: #4384dc !important;
//                 }
//             }
//         }
//     }
// }

textarea.native-textarea.sc-ion-textarea-md::-webkit-scrollbar {
    width: 2px !important;
}

textarea.native-textarea.sc-ion-textarea-ios::-webkit-scrollbar {
    width: 2px !important;
}

textarea.native-textarea.sc-ion-textarea-md::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

textarea.native-textarea.sc-ion-textarea-ios::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

textarea.native-textarea.sc-ion-textarea-md::-webkit-scrollbar-thumb {
    background: #888 !important;
}

textarea.native-textarea.sc-ion-textarea-ios::-webkit-scrollbar-thumb {
    background: #888 !important;
}

textarea.native-textarea.sc-ion-textarea-md::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}

textarea.native-textarea.sc-ion-textarea-ios::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}

.textarea-wrapper {
    width: 85% !important;
}